In [1]:
import pandas as pd

In [2]:
drivers_df = pd.read_csv("../data/raw/drivers.csv")
laps_df = pd.read_csv("../data/raw/lap_times.csv")

In [3]:
Drivers_merge = drivers_df.merge(laps_df, left_on='driverId', right_on='driverId')
Drivers_merge

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,raceId,lap,position,time,milliseconds
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,1,2,1:40.573,100573
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,2,2,1:33.774,93774
2,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,3,2,1:32.900,92900
3,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,4,2,1:32.582,92582
4,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,5,2,1:32.471,92471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485105,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,1042,60,18,1:22.851,82851
485106,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,1042,61,18,1:22.552,82552
485107,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,1042,62,18,1:22.453,82453
485108,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,1042,63,18,1:23.571,83571
485109,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,1042,64,18,1:22.743,82743

In [7]:
constructors_df = pd.read_csv("../data/raw/constructors.csv")
constructors_df

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,212,alpha_tauri,Scuderia Alpha Tauri,Italian,http://en.wikipedia.org/wiki/Scuderia_Alpha_Tauri
210,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri

In [8]:
constructors_standings = pd.read_csv("../data/raw/constructor_standings.csv")
constructors_standings

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
12431,27608,1042,4,120.0,5,5,0
12432,27609,1042,51,5.0,8,8,0
12433,27610,1042,3,0.0,10,10,0
12434,27611,1042,9,226.0,2,2,1
12435,27612,1042,210,3.0,9,9,0

In [9]:
Constructor_merge = constructors_df.merge(constructors_standings, left_on='constructorId', right_on='constructorId')
Constructor_merge

,constructorId,constructorRef,name,nationality,url,constructorStandingsId,raceId,points,position,positionText,wins
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,1,18,14.0,1,1,1
1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,7,19,24.0,1,1,1
2,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,18,20,28.0,3,3,1
3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,29,21,34.0,3,3,1
4,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,40,22,42.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...
12431,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,27557,1038,47.0,7,7,1
12432,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,27567,1039,53.0,7,7,1
12433,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,27587,1040,59.0,7,7,1
12434,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,27597,1041,67.0,7,7,1
12435,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,27607,1042,77.0,7,7,1

In [10]:
Races_df = pd.read_csv("../data/raw/races.csv")

In [11]:
Constructor_Final = Constructor_merge.merge(Races_df, left_on='raceId', right_on='raceId')
Constructor_Final.rename(columns={"name_x":"Constructor_Names","name_y":"Race_Name"},inplace=True)

In [12]:
Constructor_Final.drop(columns=["url_x","url_y"],inplace=True)

In [13]:
Constructor_Final.to_csv("../data/Modified/constructor_final.csv",index=False,header=True)

In [14]:
Constructor_New = Constructor_Final[['Constructor_Names','year','wins']]

In [15]:
Constructor_New.set_index('Constructor_Names',inplace=True)

In [16]:
Constructor_New.set_index('year',inplace=True)

In [17]:
Constructor = Constructor_New['wins'].max()

In [18]:
driver_standings = pd.read_csv("../data/raw/driver_standings.csv")

In [19]:
Drivers_merge = drivers_df.merge(driver_standings, left_on='driverId', right_on='driverId')
Drivers_merge

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,driverStandingsId,raceId,points,position,positionText,wins
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,1,18,10.0,1,1,1
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,9,19,14.0,1,1,1
2,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,27,20,14.0,3,3,1
3,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,48,21,20.0,2,2,1
4,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,69,22,28.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32810,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,69963,1038,0.0,18,18,0
32811,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,69984,1039,0.0,19,19,0
32812,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,70025,1040,0.0,19,19,0
32813,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,70046,1041,0.0,20,20,0
32814,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,70067,1042,0.0,20,20,0

In [20]:
Drivers_New = Drivers_merge.merge(Races_df, left_on='raceId', right_on='raceId')
Drivers_New

,driverId,driverRef,number,code,forename,surname,dob,nationality,url_x,driverStandingsId,...,position,positionText,wins,year,round,circuitId,name,date,time,url_y
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,1,...,1,1,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,2,...,2,2,0,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,3,...,3,3,0,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,4,...,4,4,0,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,5,...,5,5,0,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32810,786,fagioli,\N,\N,Luigi,Fagioli,1898-06-09,Italian,http://en.wikipedia.org/wiki/Luigi_Fagioli,43202,...,2,2,0,1950,1,9,British Grand Prix,1950-05-13,\N,http://en.wikipedia.org/wiki/1950_British_Gran...
32811,787,harrison,\N,\N,Cuth,Harrison,1906-07-06,British,http://en.wikipedia.org/wiki/Cuth_Harrison,43207,...,7,7,0,1950,1,9,British Grand Prix,1950-05-13,\N,http://en.wikipedia.org/wiki/1950_British_Gran...
32812,788,fry,\N,\N,Joe,Fry,1915-10-26,British,http://en.wikipedia.org/wiki/Joe_Fry,43222,...,10,10,0,1950,1,9,British Grand Prix,1950-05-13,\N,http://en.wikipedia.org/wiki/1950_British_Gran...
32813,789,martin,\N,\N,Eugène,Martin,1915-03-24,French,http://en.wikipedia.org/wiki/Eug%C3%A8ne_Martin,43219,...,20,20,0,1950,1,9,British Grand Prix,1950-05-13,\N,http://en.wikipedia.org/wiki/1950_British_Gran...
32814,790,leslie_johnson,\N,\N,Leslie,Johnson,1912-03-22,British,http://en.wikipedia.org/wiki/Leslie_Johnson_(r...,43221,...,23,23,0,1950,1,9,British Grand Prix,1950-05-13,\N,http://en.wikipedia.org/wiki/1950_British_Gran...

In [21]:
Drivers_New.drop(columns=["url_x","url_y"],inplace=True)

In [22]:
Drivers_New.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality', 'driverStandingsId', 'raceId', 'points', 'position',
       'positionText', 'wins', 'year', 'round', 'circuitId', 'name', 'date',
       'time'],
      dtype='object')

In [25]:
Drivers_New.to_csv("../data/Modified/Driver_Info.csv",header=True,index=False)

In [26]:
pwd

'C:\\Users\\sunandan\\documents\\ML-Project\\notebooks'

In [23]:
races_circuits_final_df = pd.read_csv("../data/Modified/races_circuits_final.csv")

In [24]:
Drivers_Country_Race_Data = Drivers_New.merge(races_circuits_final_df , left_on='raceId', right_on='raceId')

In [25]:
Drivers_Country_Race_Data.drop(columns=['time_x','time_y','date_x','date_y'],inplace=True)

In [26]:
Drivers_Country_Race_Data.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality', 'driverStandingsId', 'raceId', 'points', 'position',
       'positionText', 'wins', 'year_x', 'round_x', 'circuitId_x', 'name',
       'year_y', 'round_y', 'circuitId_y', 'race_name', 'races_url',
       'circuitRef', 'circuit_name', 'location', 'country', 'lat', 'lng',
       'circuits_url'],
      dtype='object')

In [27]:
Drivers_New.drop(columns=['year'],inplace=True)

In [28]:
Drivers_Country_Race_Data = Drivers_New.merge(races_circuits_final_df ,on='raceId')

In [29]:
Drivers_Race_Data = Drivers_Country_Race_Data[['raceId','driverId','forename','surname','country','race_name','points','wins','year']]

In [30]:
Drivers_Race_Data

,raceId,driverId,forename,surname,country,race_name,points,wins,year
0,18,1,Lewis,Hamilton,Australia,Australian Grand Prix,10.0,1,2008
1,18,2,Nick,Heidfeld,Australia,Australian Grand Prix,8.0,0,2008
2,18,3,Nico,Rosberg,Australia,Australian Grand Prix,6.0,0,2008
3,18,4,Fernando,Alonso,Australia,Australian Grand Prix,5.0,0,2008
4,18,5,Heikki,Kovalainen,Australia,Australian Grand Prix,4.0,0,2008
...,...,...,...,...,...,...,...,...,...
32810,833,786,Luigi,Fagioli,UK,British Grand Prix,6.0,0,1950
32811,833,787,Cuth,Harrison,UK,British Grand Prix,0.0,0,1950
32812,833,788,Joe,Fry,UK,British Grand Prix,0.0,0,1950
32813,833,789,Eugène,Martin,UK,British Grand Prix,0.0,0,1950
32814,833,790,Leslie,Johnson,UK,British Grand Prix,0.0,0,1950

In [31]:
Drivers_Race_Data.to_csv("../data/Modified/Driver_Race_Data.csv",index=False,header=True)

In [32]:
Drivers_Race_New = Drivers_Race_Data[['forename','surname','wins','points','year']]
Drivers_Race_New['Full_Name'] = Drivers_Race_New['forename'].str.cat(Drivers_Race_New['surname'],sep=" ")

C:\Users\sunandan\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
Drivers_Race_New.drop(columns=['forename','surname'],inplace=True)

C:\Users\sunandan\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [34]:
grouped_df = Drivers_Race_New.groupby( ['year','Full_Name'] ).max().reset_index()
grouped_df

      year         Full_Name  wins  points
0     1950    Alberto Ascari     0    11.0
1     1950      Alfredo Pián     0     0.0
2     1950   Bayliss Levrett     0     0.0
3     1950     Bill Cantrell     0     0.0
4     1950      Bill Holland     0     6.0
...    ...               ...   ...     ...
3095  2020      Pierre Gasly     1    63.0
3096  2020   Romain Grosjean     0     2.0
3097  2020  Sebastian Vettel     0    18.0
3098  2020      Sergio Pérez     0    74.0
3099  2020   Valtteri Bottas     2   179.0

[3100 rows x 4 columns]

In [35]:
grouped_df

      year         Full_Name  wins  points
0     1950    Alberto Ascari     0    11.0
1     1950      Alfredo Pián     0     0.0
2     1950   Bayliss Levrett     0     0.0
3     1950     Bill Cantrell     0     0.0
4     1950      Bill Holland     0     6.0
...    ...               ...   ...     ...
3095  2020      Pierre Gasly     1    63.0
3096  2020   Romain Grosjean     0     2.0
3097  2020  Sebastian Vettel     0    18.0
3098  2020      Sergio Pérez     0    74.0
3099  2020   Valtteri Bottas     2   179.0

[3100 rows x 4 columns]

In [200]:
grouped_df.to_csv("../data/Modified/Driver_Wins_New.csv",index=False,header=True)

In [194]:
Drivers_Race_New

       wins  points  year          Full_Name
0         1    10.0  2008     Lewis Hamilton
1         0     8.0  2008      Nick Heidfeld
2         0     6.0  2008       Nico Rosberg
3         0     5.0  2008    Fernando Alonso
4         0     4.0  2008  Heikki Kovalainen
...     ...     ...   ...                ...
32810     0     6.0  1950      Luigi Fagioli
32811     0     0.0  1950      Cuth Harrison
32812     0     0.0  1950            Joe Fry
32813     0     0.0  1950      Eugène Martin
32814     0     0.0  1950     Leslie Johnson

[32815 rows x 4 columns]

## Driver Rank Data

In [244]:
results_df = pd.read_csv("../data/raw/results.csv")

In [264]:
results_df = results_df[['raceId','driverId','laps','rank']]
Drivers_Race_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32815 entries, 0 to 32814
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     32815 non-null  int64
 1   forename   32815 non-null  object
 2   surname    32815 non-null  object
 3   country    32815 non-null  object
 4   race_name  32815 non-null  object
 5   points     32815 non-null  float64
 6   wins       32815 non-null  int64
 7   year       32815 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 3.5+ MB

In [287]:
# drivers_df
# races_df
Drivers_Rank_Data = results_df.merge(Drivers_Race_Data,on=['driverId','driverId'])
Drivers_Rank_Data['rank'].value_counts()

\N    2100296
1       77383
2       75255
3       71808
4       69007
5       65643
6       62669
7       58315
9       56723
8       56079
10      53633
11      52510
12      50771
13      50289
14      47210
15      45419
16      41278
17      37066
18      33792
19      28491
0       22868
20      22483
21      13240
22       7594
23       4882
24       2787
Name: rank, dtype: int64

In [286]:
Drivers_Rank_Data.to_csv("../data/Modified/Drivers_Rank_Data.csv",header=True,index=False)